body{
  background-color:green;
  color:yellow;
  font-family:Arial;
}

.main-box{
  height:650px;
  position:relative;
}

.hero-text {
 text-align: right;
  font-size:80px;
  bottom: 50px;
}

.neymar-img{
  width:450px;
  left:40px;
  bottom: 100px;
}

a{
  color:yellow;
  text-decoration:none;
  margin:10px;
}
.socials {
  top: 0px;
}
